html{
    color: whitesmoke !important;
}
p{
    color: whitesmoke;
    margin-left: 10rem;
    margin-right: 10rem;
   
}
.Title{
 color: whitesmoke !important;
 text-align: center; 

 margin: auto; 
 margin: 2rem;
border-bottom: #D2AC47 solid 2px;
}
.sizeIt{
    font-size: 20px;
    margin-top: 4rem;
}

.App{
    background: rgb(32, 33, 36);;
  
}

.boldly{
   
    color:#D2AC47;
}
.photo{
    width: 80%;
    margin-top: 5rem;
    
    border-radius: 50px;
background: #181718;
box-shadow:  20px 20px 60px #141414,
             -20px -20px 60px #1c1a1c;
}
.photo2{
    width: 80%;
    margin-left: 3rem;
    margin-top: 5rem;
    
    border-radius: 50px;
background: #181718;
box-shadow:  20px 20px 60px #141414,
             -20px -20px 60px #1c1a1c;
}
.thd{
    width: 15%;
}
.thrd{
    width: 17%;
}
.half{
    width: 10%;
}

.dev{
    color:#D2AC47 ;
    font-size: 3rem;
    margin: 4px;
}
.col{
 padding: 3vh;

}
.icon{
    margin-top: 1rem;
    width: 80%;
}
.ick{
    margin-top: 1rem;
    width: 90%;
}
.marf{
    margin-top: 10rem;
}

@media screen and (max-width: 980px) {
 
    .thd{
        width: 70% !important;
    }
    .thrd{
        width: 70% !important;
    }
    .half{
        width: 50% !important;
    }
    .col-8{
        width: 100% !important;
    }
    .col-4{
        width: 100% !important;
    }
    .marf{
        margin-top: 0;
    }
    .ick{
        width: auto;
    }
  
    .photo{
        width: 80% !important;
        margin-left: 2.6rem;
    }
    .photo2{
        width: 80% !important;
        margin-left: 2.6rem;
    }
    p{
        text-align: center;
    }
    .col{ flex:  none !important;
    
    }
    .col-style{
        margin: 0px !important;
    }
}