html{
    color: whitesmoke !important;
}
p{
    color: whitesmoke;
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: 30px;
}
.Title{
 color: whitesmoke !important;
 text-align: center; 

 margin: auto; 
 margin: 2rem;
border-bottom: #D2AC47 solid 2px;
}

img{
   margin-left: auto;
   margin-right: auto;
    width: 50%;
  
}
.App{
    background: rgb(32, 33, 36);;
  
}

.boldly{
    font-size: 34px;
    color:#D2AC47;
}