html{
    color: whitesmoke !important;
}
p{
    color: whitesmoke;
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: 30px;
}
.Title{
 color: whitesmoke !important;
 text-align: center; 

 margin: auto; 
 margin: 2rem;
border-bottom: #D2AC47 solid 2px;
}


.App{
    background: rgb(32, 33, 36);;
  
}

.boldly{
    font-size: 34px;
    color:#D2AC47;
}
.photo{
    width: 20%;
    display: block;
  margin-left: auto;
  margin-right: auto;
    
}

.dev{
    color:#D2AC47 ;
    font-size: 3rem;
    margin: 4px;
}
.col{
 padding: 3vh;

}


@media screen and (max-width: 980px) {
    p{
        color:#D2AC47 ;
       margin:auto !important;
       text-align: center;
        font-size: 20px !important;  
    }
    .boldly{
        font-size: 22px;
    }
    .col{
        padding: 2rem;
       
       }
       .dev{
        
        font-size: 2rem;
        
    }
    h3{
        margin: auto !important;
        margin-bottom: 10px !important;
        text-align: center;
        font-size: large;
    }
}