.box{
    margin: 3rem;
}

.centerIt{
    color: whitesmoke;
    border: 2px solid gray;
    margin: auto;
    width:fit-content ;
    padding: 3rem;



}
.spacing{
    margin:1rem ;
}

.ALS{
    width: fit-content;
    text-align: start;
}

.in{
    width: 100%;
}

@media screen and (max-width: 980px) {
 .centerIt {padding: 5px;} 
 form{
    max-width: 300px !important;
 }  
 input{
    max-width: 250px;
 }
}