footer{
    margin-top: 20vh !important;
     background-color: rgb(23, 23, 23);
     padding: 4vh;
     
     margin: auto;
}

.Icons{
    color: whitesmoke ;
   padding: 2rem;
   font-size: 10px ;
   text-align: center;

}
.Icons:hover{
    color: gold;
}