*{
    color: #F7EF8A !important;
    font-size: 24px;
}

.bg{
    background-color: #1C1C1C;
}
.nav-link:hover{
    color: #D2AC47 !important;
    border-bottom: #D2AC47 solid 2px ;
    overflow: hidden;
}