.title {
    width: fit-content;
    margin: auto;
    text-align: center;
    margin-bottom: 1rem;
    border-bottom: #D2AC47 solid 2px;
}
.Subtitle{
  
    width: fit-content;
    margin: auto;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 10vh;
    border-bottom: #D2AC47 solid 2px;
    color: whitesmoke;
}
h3{
    color:whitesmoke;
    font-size: 24px !important;
    margin-left: 10rem ;
    margin-right: 10rem;
    padding-right: 10px;
   
    border-bottom: #D2AC47 solid 2px;
}


.center{
    text-align: center;
    
    
}
.list{
    color: #D2AC47;
    margin-top: 10vh ;
    margin-bottom: 10vh ;
    font-size: 24px;
    
}
.lineLi{
    color: whitesmoke;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 10px;
    font-size: larger;
}
.space{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
h4{
    padding-top: 10px ;
    color: whitesmoke;
    text-align: centerS;
    font-size: 32px !important;
}
.icons{
color: #D2AC47;
width: fit-content;
display: block;
margin: auto;


}
.icons:hover{
    color:gold;
}

@media screen and (max-width: 980px) {
    h3{
        margin-left: 0 ;
        margin-right: 0;
        padding-right: 0; 
    }
    .lineLi{
        margin-left: 0;
    margin-right: 0; 
    }
    p{
        margin: auto;
        width: fit-content;
    }
    .sizeIt{
        font-size: 16px;
        margin: auto;

    }
    .col-8{
        width: 100%;
    }
    .col-4{
        width: 100%;
    }
    .photo{
        width: 100%;
        
        
    }
    .icon{
        width: auto;
        padding-top: 1rem;
        padding-bottom: 3rem;
    }
    form, input{
        max-width: 200px;
        padding: 0;
    }
    .centerIt{
        padding: 42px;
    }
   
    .col{
        padding: 1vh;
    }
   
   h4{
    font-size: 21px !important;
   }
}